<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="product" value="mgn63"></parameter>
  <test  name="Test" >
	
	  <groups>
		  <run>
			<include name="check"></include>  
			  
		  </run>
	  </groups>
    <classes>
      <class name="testngAmazon.mobile"/>
      <class name="testngAmazon.macbook"/>
    </classes>
  </test> <!-- Test -->
  
   
</suite> <!-- Suite -->
